<div class='container2'>
<h1 class='head'>Public</h1>
<% @recipes.each do |food| %>
    <div class='resDv'>
    <div class='linespac2'>
    <p>Meal Name: <%= link_to food.name, recipe_path(food.id) %></p>
    <p> By: <%= food.user.name %></p>
</div>
<div class='linespac2'>
<p>Preparation Time: <%= food.preparation_time %></p>
<p>Cooking Time: <%= food.cooking_time %></p>
</div>
</div>
<% end %>
</div>
