<nav>
    <ul>
        <%= link_to 'home', root_path %>
        <%= link_to 'Recipes Home', recipes_path %>
        <%= link_to 'Public Recepies', public_recipes_path %>
        <%= link_to 'Shopping List', shopping_lists_path %>
    </ul>
</nav>