/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    /* border: 0; */
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

th {
    background: rgb(73, 73, 73);
    color: #fff;
    padding: 0.2rem;
    width: 33%;
    max-width: 33%;
}

td {
    background: #111;
    color: #fff;
    padding: 0.2rem;
    max-width: 33%;
    width: 33%;
}

table {
    width: 100%;
}

.buttonDv {
    display: flex;
    justify-content: right;
}

.buttonDlt {
    width: 100%;
}

.container {
    padding: 10px 5%;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    color: #111;
    background: rgb(122, 120, 120);
    padding: 0.3rem;
    border-radius: 6px;
    text-decoration: none;
}

.form {
    /* margin: auto; */
    width: 50%;
    margin-bottom: 1rem;
}

.formInp {
    width: 100%;
    padding: 0.2rem;
    /* margin: auto; */
}

.rscNm {
    font-size: 20px;
}

.resDv {
    padding: 1% 5%;
    border: 1px solid #000;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.resipe {
    display: flex;
    justify-content: center;
}

.head {
    text-align: center;
}

.linespac {
    line-height: 44px;
}

.linespac2 {
    line-height: 30px;
}

.button2 {
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.link_to {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.jstcnt {
    justify-content: space-between;
}

.addFood {
    background: rgb(113, 113, 165);
    border: none;
    border-radius: 6px;
    padding: 0.3rem;
    margin-top: 0.5rem;
    color: #fff;
}

.formDiv {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.button {
    background: none;
    color: #000;
    text-decoration: underline;
    border: none;
}